/* Cover Flow Swiper */
.visimisi-swiper {
  @apply w-[100%] h-[100%] relative overflow-visible;
  position: relative !important;
  overflow: visible !important;
}

.mySwiper-slider {
  @apply h-auto opacity-30 mx-auto;
  width: 50vw !important;
}

.visimisi-swiper .swiper-slide {
  @apply h-auto opacity-30 mx-auto;
  width: 50vw !important;
}

.visimisi-swiper .swiper-slide-active {
  @apply opacity-100 mx-auto translate-y-10;
  transition: all 0.3s ease-in-out;
}
