.cardLanding {
	background: rgb(64, 53, 111);
	background: linear-gradient(
		180deg,
		rgba(64, 53, 111, 1) 0%,
		rgba(59, 48, 107, 1) 79%
	);
	opacity: 90%;
	border-color: linear-gradient(
		180deg,
		rgba(238, 46, 209, 1) 40%,
		rgba(255, 255, 255, 1) 60%
	);
}
