@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: url('/assets/img/bg-home.png'), #0a013d;
  @apply bg-center bg-blend-screen bg-opacity-70 bg-[length:110vw_270vh];
  //background-size: 98vw 270vh;
}

.glassmorphism {
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism:before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 46, 209, 0.29) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-cinem {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] backdrop-blur-[15px] rounded-[100px];
  background: linear-gradient(
    128deg,
    rgba(255, 252, 252, 0.4) 0%,
    #200b6f 85.36%
  );
}
.glassmorphism-cinem::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(238, 46, 209, 0.39) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-card-cinem {
  @apply backdrop-blur-[15px];
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism-card-cinem::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(238, 46, 209, 0.39) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-itsupport {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] backdrop-blur-[15px] rounded-[100px];
  background: linear-gradient(
    128deg,
    rgba(255, 252, 252, 0.4) 0%,
    #ff3131 85.36%
  );
}

.glassmorphism-itsupport::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 49, 49, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-card-itsupport {
  @apply backdrop-blur-[15px];
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism-card-itsupport::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 49, 49, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-gamedev {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] backdrop-blur-[15px] rounded-[100px];
  background: linear-gradient(
    128deg,
    rgba(255, 252, 252, 0.5) 0%,
    #4c0b50 85.36%
  );
}

.glassmorphism-gamedev::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(76, 11, 80, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-card-gamedev {
  @apply backdrop-blur-[15px];
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism-card-gamedev::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 7) 10%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-webdev {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] backdrop-blur-[15px] rounded-[100px];
  background: linear-gradient(
    128deg,
    rgba(255, 252, 252, 0.4) 0%,
    #0e582c 85.36%
  );
}

.glassmorphism-webdev::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 252, 252, 1) 10%,
    rgba(17, 70, 76, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-card-webdev {
  @apply backdrop-blur-[15px];
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism-card-webdev::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 7) 10%,
    rgba(17, 70, 76, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-designgraphic {
  @apply shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] backdrop-blur-[15px] rounded-[100px];
  background: linear-gradient(
    128deg,
    rgba(255, 252, 252, 0.4) 0%,
    #7421dd 85.36%
  );
}

.glassmorphism-designgraphic::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(17, 70, 76, 1) 90%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.glassmorphism-card-designgraphic {
  @apply backdrop-blur-[15px];
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}

.glassmorphism-card-designgraphic::before {
  @apply content-[""] absolute p-[0.7px] inset-0 -z-10;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 7) 10%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Cover Flow Swiper */
.mySwiper {
  @apply w-[100%] h-[100%] relative overflow-visible;
  position: relative !important;
  overflow: visible !important;
}

.mySwiper-slider {
  @apply h-auto opacity-30 mx-auto;
  width: 50vw !important;
}

.swiper-slide-active {
  @apply opacity-100 absolute -top-10 left-0;
  transition: all 0.3s ease-in-out;
}
.radio {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding-left: 30px;
  positon: relative;
  top: -2px;
}

.radio + .radio {
  margin-left: 10px;
}

.radio input[type='radio'] {
  display: none;
}

.radio span {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #0b013e;
  display: block;
}

.radio span:after {
  content: '';
  height: 9px;
  width: 9px;
  background: #54ffc1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid #54ffc1;
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio div {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #0b013e;
  display: block;
}

.radio div:after {
  content: '';
  height: 9px;
  width: 9px;
  background: #ff3131;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 2px solid #ff3131;
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio input[type='radio']:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

.radio input[type='radio']:checked ~ div:after {
  transform: translate(-50%, -50%) scale(1);
}
